* {
  transition: none;
  box-shadow: none;
  font-family: Hack Nerd Font Mono;
  font-size: 14px;
  color: #abb2bf;
}

#waybar {
  background: #1E1E28;
}

#workspaces {
  margin: 3px 3px 3px 3px;
  color: transparent;
  border-radius: 3px;
  background-color: #332E41;
}

#workspaces button {
  padding: 0px 4px;
  background-color: #332E41;
  border-radius: 3px;
  border-bottom: 2px solid #332E41;
}

#workspaces button.focused {
  border-radius: 3px;
  border-bottom: 2px solid #abb2bf;
}

#workspaces button.urgent * {
  color: rgba(246,71,71,0.8);
}

#battery, #network, #pulseaudio, #idle_inhibitor, #backlight, #clock {
  padding: 0px 10px;
  margin: 3px 0px 3px 0px;
  min-width: 10px;
  background-color: #332E41;
  border-bottom: 2px solid #abb2bf;
}

#clock {
  border-radius: 3px 3px 3px 3px;
}

#idle_inhibitor {
  border-radius: 3px 0px 0px 3px;
}

#battery {
  border-radius: 0px 3px 3px 0px;
  margin-right: 3px;
}

#custom-power {
  margin: 3px 3px 3px 3px;
  padding: 0px 10px;
  background-color: #722F37;
  border-radius: 3px;
}
